<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hackavan</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

</head>
<body>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src=”js/bootstrap.js”></script>
    <div class="”container”">
        <h1><a href="”#”">You Tube Downloader</a></h1>
        <div class="navbar">
	          <div class="navbar-inner">
	            <div class="container">
	              <ul class="nav">
	                <li class="active"><a href="#">Home</a></li>
	              </ul>
	            </div>
	          </div>
	        </div>
        <form action="/mp4" method="POST">
            <div class="form-group">
                <label for="usr">You Tube URL</label>
                <input type="text" name="mp4" class="form-control" id="usr">
                <button type="submit" class="btn btn-primary">Download MP4</button>
            </div>

        </form>

        <form action="/mp3" method="POST">
            <div class="form-group">
                <label for="usr">You Tube URL</label>
                <input type="text" name="mp3" class="form-control" id="usr1">
                <button type="submit" class="btn btn-primary">Download MP3</button>
            </div>

        </form>
</body>
</html>